*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(7, 5, 31);
}

header{
    display: flex;
    align-items: center;
    height: 150px;
    background-color: rgb(22, 19, 47);
}
h1{
    text-align: center;
    width: 100%;
    color: aliceblue;
}
#container{
    max-width: 800px;
    margin: auto;
}

img{
    width: 400px;
}

button{
    padding: 5px;
    height: 30px;
    position: relative;
    bottom: 300px;
    border-radius: 15px;
}

.bgViolet{
    background-color: blueviolet;
}